p{
  color: red;
  background-color: silver;
  font-family: tahoma;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 5px;
  word-spacing: 10px;
  text-align: justify;
  padding: 100px 50px 100px 50px;
  margin: 40px 20px 40px 20px;
  border-top: 12px solid purple;
  border-bottom: 15px dotted blue;
  border-left: 11px solid red;
  border-right: 10px dotted yellow;
}
li{
 color: red;
}
.roz{
  color: green;
}
header{
  width: 100%;
  background-color: pink;
  height: 100px;
  padding: 10px;
}
#OLO{
  width: 80%;
  background-color: gold;
  padding: 15px 15px 15px 15px;
}
.MISO{
  width: 50%;
  background-color: tomato;
  height: 50px;
  float: left;
}
.PANO{
  width: 50%;
  background-color: darkkhaki;
  height: 50px;
  float: left;
}
nav{
  width: 100%;
  background-color: yellow;
  height: 40px;
}
main{
  width: 100%;
  background-color: purple;
  height: 400px;
}
.box{
background: violet;
width: 100px;
height: 100px;
float left;
}
aside{
  width: 40%;
  height: 400px;
  background-color: silver;
  float: right;
}
.orizontio{
  width: 100%;
  background-color:blue;
  height: 400px;
}
.stili1{
  width: 25%;
  background-color:red;
  height: 400px;
  float: left;
}
.stili2{
  width: 25%;
  background-color:yellow;
  height: 400px;
  float: left;
}
.ENA{
  width: 30%;
  background-color:	rgb(0,255,127);
  height: 270px;
  float: left;
}
.DYO{
  width: 30%;
  background-color: pink;
  height: 270px;
  float: left;
}
.TRIA{
  width: 40%;
  background-color: magenta;
  height: 270px;
  float: left;
}
.stili3{
  width: 25%;
  background-color: #483D8B;
  height: 400px;
  float: left;
}
.stili4{
  width: 25%;
  background-color: grey;
  height: 400px;
  float: left;
}
footer{
  width: 100%;
  background-color: green;
  height: 30px;
}
.clearfix{
  overflow: auto;
}
